@import '../../helpers/mixins';

:host {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

nav {
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 4vw;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 3px 4px #777;

    @include for-size(tablet-landscape-up) {
        padding: 0 0 0 4vw;
    }
}

div.jumbotron {
    width: 100%;
    height: 10px;
    background-color: #0062b3;
}

nav a {
    display: block;
    text-decoration: none;
    color: #000;
}

div.logo {
    display: flex;
    align-items: center;
}

div.logo img {
    height: 48px;
    margin-right: 8px;
}

div.logo h1 {
    font-size: 1.5em;
    text-shadow: 0 0 0.5rem #777;
}

h1.special {
    color: #C02630;
    transform: scale(1, -1);
}

ul.topnav {
    position: absolute;
    top: 70px;
    width: 100%;
    list-style-type: none;
    margin: 0 0 0 -4vw;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 3px 4px #777;

    @include for-size(tablet-landscape-up) {
        display: initial;
        visibility: visible;
        position: initial;
        width: auto;
        display: flex;
        margin: 0;
        box-shadow: none;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}
    
ul.topnav li a {
    display: block;
    color: #0062b3;
    background-color: #EEE;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-width: 16vw;
    padding: 12px 0;
    border-top: 1px solid #000;

    @include for-size(tablet-landscape-up) {
        border: none;
    }

    @include for-size(desktop-up) {
        min-width: 14vw;
    }

    @include for-size(big-desktop-up) {
        min-width: 10vw;
    }
}

ul.topnav li a:hover {
    background-color: #CCC;
}

ul.topnav li a.active {
    background-color: #0062b3;
    color: #EEE;
}

ul.topnav li a.special {
    background-color: #000;
    color: #EEE;
}

ul.topnav li a.special:hover {
    background-color: #00802b;
}

nav button {
    display: block;
    visibility: visible;
    font-size: 1.5em;
    color: #000;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 4px #777;
    cursor: pointer;
    outline: none;
    padding: 0;

    @include for-size(tablet-landscape-up) {
        display: none;
        visibility: hidden;
    }
}
    
nav button:hover {
    @include for-size(tablet-landscape-up) {
        color: #EEE;
        background-color: #777;
    }
}
    
nav button:active {
    transform: translateY(2px);
}

nav button:focus {
    outline: none;
}
