<nav>
    <a href="#home">
        <div class="logo">
            <img src="assets/header/logo-sans.png" alt="Logo Club Delta">
            <h1>CLUB DELT</h1><h1 class="special">V</h1>
        </div>
    </a>
    <div style="flex-grow: 1"></div>
    <div>
        <ul class="topnav">
            <li><a class="active" href="#home">HOME</a></li>
            <li><a href="#news">NEWS</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li class="right"><a href="#about">ABOUT</a></li>
        </ul>
    </div>
    <button><fa-icon [icon]="faBars"></fa-icon></button>
</nav>
