<div class="jumbotron"></div>
<nav>
    <a href="#home">
        <div class="logo">
            <img src="assets/header/logo-sans.png" alt="Logo Club Delta">
            <h1>CLUB DELT</h1><h1 class="special">V</h1>
        </div>
    </a>
    <div style="flex-grow: 6"></div>
    <ul class="topnav" [class.hidden]="hiddenTopnav">
        <li><a (click)="navigateTo('target','presentation')" [class.active]="activeLink==='presentation'">PRÉSENTATION</a></li>
        <li><a (click)="navigateTo('target','activites')" [class.active]="activeLink==='activites'">ACTIVITÉS</a></li>
        <li><a (click)="navigateTo('target','valeurs')" [class.active]="activeLink==='valeurs'">FORMATION</a></li>
        <li><a (click)="navigateTo('target','inscription')" class="special">INSCRIPTION</a></li>
    </ul>
    <button (click)="triggerTopnav()"><fa-icon [icon]="faBars"></fa-icon></button>
</nav>
